<p id="notice"><%= notice %></p>

<h1>Animales</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Scientificname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animales.each do |animale| %>
      <tr>
        <td><%= animale.name %></td>
        <td><%= animale.scientificname %></td>
        <td><%= link_to 'Show', animale %></td>
        <td><%= link_to 'Edit', edit_animale_path(animale) %></td>
        <td><%= link_to 'Destroy', animale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Animale', new_animale_path %>
